@use "../utilities" as *;

.timingContainer {
    // margin-bottom: 4rem; to remove if not necessairly

    @include responsive_medium {
        width: clamp(450px, 65%, 750px); // clamp (min-width, width, max-width)
        // width: min(75%, 750px);
        @include auto-margin-center;
        @include center-content-with-flex;
        gap: 50px;
    }

    .timingContainer__upcomingPrayer {
        width: 17rem;
        height: 17rem;
        @include auto-margin-center;
        background-color: rgba(3, 3, 3, 0.27);
        // border: .5rem dashed $active-color;
        border-radius: 50%;
        @include center-content-with-flex;
        flex-direction: column;
        flex-shrink: 0;


        &__label,
        &__remainingTimeLabel {
            font-family: $Comfortaa;
            font-size: 1.4rem;
        }

        &__label {
            width: min-content;
            text-align: center;
        }

        &__prayerName {
            font-family: $carterOne;
            font-size: 2.2rem;
            margin-bottom: $margin-0rem5;
        }

        &__remainingTime {
            font-family: $ibm-mono;
            font-size: 1.8rem;
            // font-weight: 700;
        }

        position: relative;

        .custom-border {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 4px solid transparent;
            border-radius: 50%;
            border-right: 4px solid $active-color;
            border-left: 4px solid $active-color;
            rotate: 14deg;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border: 9px solid $active-color;
            }

            &::before {
                top: 82%;
                left: 82%;
                border-right-color: transparent;
                border-top-color: transparent;
            }

            &::after {
                top: 10%;
                left: 10%;
                border-left-color: transparent;
                border-bottom-color: transparent;
            }
        }
    }
}