@use "./variables" as var;

@mixin auto-margin-center {
    margin-left: auto;
    margin-right: auto;
}

@mixin center-content-with-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin card-style($shadowColor) {
    color: var.$text-color-primary;
    padding: 0.5rem 2%;
    background-color: var.$bg-second;
    @include box-shadow ($shadowColor);
    // box-shadow: 0 0 2px 2px var.$shadow-color;
    border-radius: 0.5rem;
}

@mixin box-shadow ($shadowColor) {
    box-shadow: 2px 2px 2px $shadowColor;
}

.text-black-shadow {
    text-shadow: 2px 2px 2px var.$bg-main;
}