// Fonts: 
$carattere : 'Carattere',
cursive;
$CarterOne : 'Carter One',
cursive;
$Catamaran : 'Catamaran',
sans-serif;
$Comfortaa : 'Comfortaa',
cursive;
$gothic : 'Didact Gothic',
sans-serif;

// Colors:
$bg-main : rgba(0, 0, 0);
$bg-primary : rgba(183, 110, 0, 1);
$bg-second : rgba(55, 27, 11, 0.90);
$text-color-primary : rgba(255, 255, 255, 1);
$active-color : rgba(255, 199, 0, 1);

// Breakpionts
$min-width-medium : 481px;
$min-width-large : 769px;

// Margins:
$margin-2rem5: 2.5rem;
$margin-0rem5: 0.5rem;