@use "../utilities" as *;

.adhan-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 99;
    transition: all 300ms;

    &.adhan-overlay--hidden {
        display: none;
    }

    .adhan-overlay__main-div {
        width: clamp(10rem, 50%, 25rem);
        aspect-ratio: 1 / 1;
        position: fixed;
        top: 50vh;
        left: 50vw;
        translate: -50% -50%;
        border-radius: 50%;
        outline: 3px solid rgba(255, 199, 0);

        .adhan-overlay-background-image {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            z-index: 33;
        }

        .adhan-overlay__main-div__circle {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 100%;
            aspect-ratio: 1;
            border-radius: inherit;
            outline: 3px solid rgba(255, 199, 0);
            animation-name: strech;
            animation-duration: 3s;
            animation-iteration-count: infinite;

            &.circle1 {
                animation-delay: 1000ms;
            }

            &.circle2 {
                animation-delay: 1800ms;
            }

            &.circle3 {
                animation-delay: 2600ms;
            }
        }
    }

    @keyframes strech {
        from {
            width: 100%;
            background-color: rgba(255, 199, 0, 0.3);
            outline-color: rgba(255, 199, 0);
        }

        to {
            width: 200%;
            background-color: transparent;
            outline-color: transparent;
        }

    }

    .mute-adhan-button {
        position: fixed;
        bottom: 5vh;
        left: 50vw;
        translate: -50%;
        font-family: $Comfortaa;
        font-size: 1.2rem;
        text-align: center;
        color: $active-color;
        text-transform: initial;
        border: 1px solid $active-color;
        border-radius: 1rem;
        padding: 7px;
        cursor: pointer;
    }
}