@use "../utilities" as *; // ... as *; to use just the variables names.

// Nearby Mosques Button

.nearbyMosquesSection {
    @include card-style($shadow-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.displayNearbyMosquesHeader {
    @include center-content-with-flex;
    margin-bottom: $margin-2rem5;

    &.nearbyMosquesBtnClicked {
        justify-content: space-between;
    }
}

.nearbyMosquesSection:hover .displayNearbyMosquesHeader:not(.nearbyMosquesBtnClicked) {
    background-color: $active-color;

    & .displayNearbyMosques__show__text {
        color: $bg-second;
        text-shadow: none;
    }
}

.displayNearbyMosques__hide {
    color: $active-color;
    text-transform: capitalize;
    font-family: $Catamaran;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: underline;
    display: none;

    &.nearbyMosquesBtnClicked {
        display: initial;
    }
}

.displayNearbyMosques__show__text {
    display: inline-block;
    margin-right: $margin-0rem5;
    color: $text-color-primary;
    font-family: $Catamaran;
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    @extend .text-black-shadow;
}

.displayNearbyMosques__show__icon {
    display: inline-block;
}