@use "../utilities" as *; // ... as *; to use just the variables names.

.timingContainer {
    margin-bottom: 4rem;
}

.timingContainer__timeDua__timeNow {
    font-family: $CarterOne;
    font-size: 2.8rem;
    font-weight: normal;
    letter-spacing: .16rem;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.88);
    text-align: center;
    margin-bottom: $margin-2rem5;
}

.timingContainer__timeDua__dua {
    text-transform: none;
    font-family: $Comfortaa;
    text-align: center;
    display: none;

    @include responsive_Large() {
        display: block;
    }

    .timingContainer__timeDua__dua__quote {
        font-size: 1.2rem;
        margin-bottom: $margin-0rem5;
    }

    .timingContainer__timeDua__dua__source {
        font-size: .9rem;
    }

}