@use "../utilities" as *;

nav {
    position: absolute;
    top: 0;
    left: 0;
}
/* Style for the burger button */
.burger_btn {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    margin: 1.2rem;
    margin-top: 1.4rem;
}

.burger_btn span {
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    background: $shadow-color;
    transition: all 0.3s ease;
}

.burger_btn span:nth-child(1) {
    top: 0;
}

.burger_btn span:nth-child(2) {
    top: 50%;
}

.burger_btn span:nth-child(3) {
    top: 100%;
}

.dropdown__hide-btn {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    color: rgba(55, 27, 11, .9);
    background-color: #ffc700;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.dropdown__hide-btn:hover {
    background-color: #e1e100;
}

/* Style for the dropdown menu */
.dropdown {
    display: inline-block;
}

.dropdown__content {
    width: 300px;
    padding: 5px;
    padding-bottom: 15px;
    background-color: #b76e00;
    border-bottom-right-radius: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    overflow: hidden;
    font-family: "Comfortaa", cursive;

    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;

    transition: transform 0.5s ease-out;
}

.dropdown__content.visible {
    transform: rotate(0deg);
}

.dropdown__content__title {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgba(55, 27, 11, .9);
}

.dropdown__content__link {
    width: 100%;
    padding: 7px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 16px;
    color: rgba(55, 27, 11, .9);
    background-color: #ffc700;
    border-bottom: 1px solid rgba(55, 27, 11, .9);

    position: relative;
    right: 105%;
    transition-property: right;
    transition-duration: 700ms;
    transition-timing-function: ease-out;

}

/* when the parent will be visible, then '.dropdown__content__link' will slide right */
.visible .dropdown__content__link {
    right: 0;
}


.dropdown__content__link--1 {
    transition-delay: 200ms;
}

.dropdown__content__link--2 {
    transition-delay: 300ms;
    cursor: pointer;
}

.dropdown__content__link--3 {
    transition-delay: 400ms;
}

.dropdown__content__link--4 {
    transition-delay: 500ms;
    cursor: pointer;
}

.dropdown__content__link--5 {
    transition-delay: 600ms;
    cursor: pointer;
}

.dropdown__content__link--6 {
    transition-delay: 700ms;
    cursor: pointer;
}

.dropdown__content__link:hover {
    background-color: #e1e100;
    margin-left: 5px;
}

/* Style for the switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #957b52;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    border-radius: 50%;
    background-color: #ffc700;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.switch input:checked+.slider {
    background-color: #b76e00;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px rgba(55, 27, 11, .9);
}

.switch input:checked+.slider:before {
    transform: translateX(28px);
}