@use "../utilities" as *;

nav {
    position: absolute;
    top: 0;
    left: 0;
}
/* Style for the burger button */
.burger_btn {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    margin: 1.2rem;
    margin-top: 1.4rem;
    & span {
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        background: $shadow-color;
        transition: all 0.3s ease;
    }
    
    & span:nth-child(1) {
        top: 0;
    }
    
    & span:nth-child(2) {
        top: 50%;
    }
    
    & span:nth-child(3) {
        top: 100%;
    }
}

.dropdown__hide-btn:hover {
    background-color: #e1e100;
}

/* Style for the dropdown menu */
.dropdown {
    display: inline-block;

    & .dropdown__content {
        width: 26rem;
        padding: .5rem;
        padding-bottom: 1rem;
        background-color: $bg-primary;
        border-bottom-right-radius: 100%;
        overflow: hidden;
        font-family: $Comfortaa;

        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(-90deg);
        transform-origin: 0 0;

        transition: transform 0.5s ease-out;
        z-index: 999;

        &.visible {
            transform: rotate(0deg);
            box-shadow: 0px 5px 10px $bg-second;
            /* when the parent will be visible, then '.dropdown__content__link' will slide right */
            .dropdown__content__link {
                right: 0;
            }
        }
        &__title {
            font-size: 1.5rem;
            padding-left: 1rem;
            margin-top: .5rem;
            margin-bottom: 1rem;
            color: $bg-second;
        }
        
        &__link {
            width: 100%;
            padding: .7rem;
            padding-left: 1.5rem;
            text-decoration: none;
            font-size: 1.2rem;
            color: $bg-second;
            background-color: $active-color;
            border-bottom: 1px solid $bg-second;
            cursor: pointer;
            position: relative;
            right: 105%;
            transition-property: right;
            transition-duration: 600ms;
            transition-timing-function: ease-out;
        
            &--location {
                transition-delay: 150ms;
            }
            
            &--alarm {
                transition-delay: 200ms;
            }

            &--times-table {
                transition-delay: 250ms;
            }
            
            &--theme {
                transition-delay: 300ms;
            }
            
            &--docs {
                transition-delay: 350ms;
            }
            
            &--about {
                transition-delay: 400ms;
            }
            
            &:hover {
                background-color: #e1e100;
                margin-left: 5px;
            }
        }        

        & .dropdown__hide-btn {
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;
            margin-top: .6rem;
            margin-left: 1rem;
            color: $bg-second;
            background-color: $active-color;
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            display: grid;
            place-items: center;
        }
    }
}

/* Style for the switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 1.6rem;

    & .switch__input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    & .switch__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #957b52;
        border-radius: 2.5rem;
        transition: all 0.3s ease;
    }
    
    & .switch__slider:before {
        position: absolute;
        content: "";
        height: 1.2rem;
        width: 1.2rem;
        left: 0.25rem;
        bottom: 0.2rem;
        border-radius: 50%;
        background-color: $active-color;
        box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    
    & .switch__input:checked+.switch__slider {
        background-color: $bg-primary;
    }
    
    & .switch__input:focus+.switch__slider {
        box-shadow: 0 0 1px $bg-second;
    }
    
    & .switch__input:checked+.switch__slider:before {
        transform: translateX(2.3rem);
    }
}
