@use "../utilities" as *;

main {
    width: max(280px, 100%);
    background-color: $bg-main;
    background-color: $bg-primary;
    position: relative;

    @include responsive_Large {
        @include auto-margin-center;
        max-width: 1200px;
        border-radius: 1rem;
        overflow: hidden;
        margin-top: $margin-2rem5;
        margin-bottom: $margin-2rem5;
        box-shadow: 0 0 10px 2px $active-color;
    }
}