@use "../utilities" as *;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    @include responsive_medium() {
        font-size: 72%;
    }

    @include responsive_large() {
        font-size: 85%;
    }
}

body {
    width: 100%;
    background-color: $bg-main;
    color: $text-color-primary;
    text-transform: capitalize;

    scrollbar-width: .7rem;
    scrollbar-color: $bg-second;    
    
    &::-webkit-scrollbar {
        width: .7rem;
        background-color: $bg-second;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $active-color;
        border-radius: 5px;
    }
}

body.noscroll {
    overflow: hidden;
}

ul {
    list-style: none;
}

img {
    display: block;
}

// Remove outline from focused on elements for mouse users, and keep it for keyboard users ()
:focus:not(:focus-visible) {
    outline: none;
}

button {
    background-color: transparent;
    border: none;
}

button,
select,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}